<!DOCTYPE html>
<html>
<head>
    <title>ListingsDeletePage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/listings.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <!-- Navbar -->
    <div class="container-wrapper">
        <div class="brand-labling">
            <img src="~/img/boat.png" />
            <span>RENT-A-bOAT</span>
        </div>
        <!-- Navbar -->
        <div class="top-menu-wrapper">
            <div class="list-menu">
                <ul>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Search_page">Search</a></li>
                    <li>
                        <a href="#">Manage Listings &#9662;</a>
                        <ul class="dropdown">
                            <li><a asp-area="" asp-controller="Listing" asp-action="Listing_add">Add</a></li>
                            <li><a asp-area="" asp-controller="Listing" asp-action="Listing_modify">Modify</a></li>
                            <li><a asp-area="" asp-controller="Listing" asp-action="Listing_delete">Delete</a></li>
                        </ul>
                    </li>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Boatloc">Boat Loaction</a></li>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Stats">Stats</a></li>

                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="About_us">About Us</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class=backdropimg>
        <br><br><br>

        <!-- page content -->
        <div style="overflow-x: auto;">
            <table class="tabledel trans">
                <tr>
                    <td class="colformatdel">Grand Lady Cruises</td>
                    <td><button class="icondel"><i class="fa fa-trash" icon-8x></i></button></td>
                </tr>
                <tr>
                    <td class="colformatdel">Dutch Apple Cruises</td>
                    <td><button class="icondel"><i class="fa fa-trash" icon-8x></i></button></td>
                </tr>
                <tr>
                    <td class="colformatdel">Arrowhead Marina Rentals</td>
                    <td><button class="icondel"><i class="fa fa-trash" icon-8x></i></button></td>
                </tr>
                <tr>
                    <td class="colformatdel">Low Bridge Charters</td>
                    <td><button class="icondel"><i class="fa fa-trash" icon-8x></i></button></td>
                </tr>
            </table>
            <br />
            <button class="w3-button w3-teal buttoncancel">CANCEL</button>
        </div>

    </div>
</body>
</html>
