<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/about_us.css">
</head>



<body>
    <!-- Navbar -->
    <div class="container-wrapper">
        <div class="brand-labling">
            <img src="~/img/boat.png" />
            <span>RENT-A-bOAT</span>
        </div>
        <!-- Navbar -->
        <div class="top-menu-wrapper">
            <div class="list-menu">
                <ul>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>



                    <li>
                        <a href="#">Listings &#9662;</a>
                        <ul class="dropdown">
                            <li><a asp-area="" asp-controller="Home" asp-action="Create">Add</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Listings">Manage</a></li>
                        </ul>
                    </li>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Boatloc">Boat Location</a></li>
                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Stats">Stats</a></li>



                    <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="About_us">About Us</a></li>
                </ul>
            </div>



        </div>
    </div>



    <!-- Work Row -->
    <div class="w3-row-padding w3-padding-64 w3-theme-l1 w3-mobile" id="work">
        <div class="w3-quarter">
            <h2>Our Project</h2>
            <p style="text-align:justify">
                This website focuses on listing of different types of companies that have boats for hire that
                are near the NYS Canal System. Customers can search for boats in nearby
                waterways, see locations of existing boat and statistics. They can also
                register a new company and list boats for hire and update or delete existing
                boat details.
            </p>



            <p style="text-align:justify">
                This project has been designed using HTML, CSS, JavaScript integrated in ASP.NET MVC framework and deployed in Azure cloud. We used the
                data.gov.api to pull the "Boats For Hire Near NYS Canal System" dataset.
                <a href="https://catalog.data.gov/dataset/boats-for-hire-near-nys-canal-system">API URL</a>
                Please find the Github link to our project:<a href="https://github.com/ananya47/DIS-project">Github Link</a>
            </p>



            <h2>Meet Our Team</h2>
            <p style="text-align:justify">
                We are currently pursuing MS in Business Analytics and Information Systems
                from University of South Florida
            </p>
        </div>



        <div class="w3-quarter w3-mobile">
            <div class="w3-card w3-white">
                <img class="image w3-image" src="~/img/ananya.jpg" alt="Snow" style="width:100% ;height:50%">
                <div class="w3-container w3-mobile conatiner">
                    <h3>Ananya Shrivastava</h3>



                    <p style="text-align:justify">
                        Passionate about frontend development and data analytics.
                        I like playing with data and creating interactive visualization.
                        My contribution to this project has been designing pages using HTML & CSS,
                        displaying chart and performing CRUD operations by integrating in MVC framework.




                    </p>
                </div>
            </div>
        </div>



        <div class="w3-quarter w3-mobile">
            <div class="w3-card w3-white w3-mobile">
                <img class="image w3-image" src="~/img/sai.jpeg" alt="Lights" style="width:100%">
                <div class="w3-container conatiner">
                    <h3>Sai Yarra</h3>
                    <p style="text-align:justify">
                        Passionate about backend development.I have innate curiosity & knack
                        for technology and like to get acquainted with the latest developments in this field.
                        My contributions to this assignment have been with html, css and CRUD operations,
                        building logical data model for the API data and  cloud deployment.
                    </p>
                </div>
            </div>
        </div>



        <div class="w3-quarter w3-mobile">
            <div class="w3-card w3-white w3-mobile">
                <img class="image w3-image" src="~/img/Purva_pic.jpg" alt="Mountains" style="width:100%">
                <div class="w3-container">
                    <h3>Purva Khandelwal</h3>
                    <p style="text-align:justify">
                        Passionate about backend development, data visualizations, and learning new
                        technologies. My contributions to this assignment have been with html
                        and css to Manage listings, Boat locations, Stats & CRUD operations. Also, helped the
                        team in designing data model and overall content & website design.
                    </p>
                </div>
            </div>
        </div>



    </div>
    <div>
        <img class="img-model" src="~/img/ERD_BOAT_1.png" style="width:80%;height:50%;" />
    </div>
</body>
</html>