@model MVC_EF_Start.Models.Company

@{
    ViewData["Title"] = "Modify";
}

<h1>Modify</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modify">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="company_id" />
            <div class="form-group">
                <label asp-for="company_url" class="control-label"></label>
                <input asp-for="company_url" class="form-control" />
                <span asp-validation-for="company_url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="company" class="control-label"></label>
                <input asp-for="company" class="form-control" />
                <span asp-validation-for="company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="street_address" class="control-label"></label>
                <input asp-for="street_address" class="form-control" />
                <span asp-validation-for="street_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zip" class="control-label"></label>
                <input asp-for="zip" class="form-control" />
                <span asp-validation-for="zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone_number" class="control-label"></label>
                <input asp-for="phone_number" class="form-control" />
                <span asp-validation-for="phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
