@model Company

@{
    var title = "Update Company";
    ViewData["Title"] = "Modify";
}
<head>
    <meta charset="utf-8">
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
@*    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    
    <style>
        .create-container {
            background-color: white;
            height: 100vw;
        }

        .form-wrapper {
           
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-group {
            display: flex;
            justify-content: space-between;
            width: 500px;
            padding: 4px;
        }

        .brand-labling {
            color: white;
        }

            .brand-labling img {
                background-color: white;
                height: 30px;
                width: 40px;
                margin-right: 20px;
                margin-left: 20px;
            }
            .body{
                background-color:white;
            }
        .top-menu-wrapper {
            background-color: black;
        }
        .control-label {
            color: black;
        }
    </style>
</head>

<body>


    <!-- Navbar -->
    <div class="top-menu-wrapper">
        <div class="list-menu">
            <ul>
                <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @*<li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Search_page11">Search</a></li>*@
                <li>
                    <a href="#">Listings &#9662;</a>
                    <ul class="dropdown">
                        <li><a asp-area="" asp-controller="Home" asp-action="Create">Add</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Listings">Manage</a></li>
                    </ul>
                </li>
                <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Boatloc">Boat Location</a></li>
                <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="Stats">Stats</a></li>
                <li><a class="list-menu" asp-area="" asp-controller="Home" asp-action="About_us">About Us</a></li>
            </ul>
        </div>

    </div>

    <!-- Showcase -->
    <div class="create-container">
        <h1 align="center" style="text-shadow: 2px 2px skyblue;">Modify Company</h1>
       
       
        <div class="form-wrapper">
            <div class="form-group">
                <form asp-action="Modify">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="company_id" class="control-label"></label>
                        <div>
                            <input asp-for="company_id" readonly class="form-control" type="text" />
                            <span asp-validation-for="company_id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="company_url" class="control-label"></label>
                        <div>
                            <input asp-for="company_url" class="form-control" />
                            <span asp-validation-for="company_url" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="company" class="control-label"></label>
                        <div>
                            <input asp-for="company" class="form-control" />
                            <span asp-validation-for="company" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="street_address" class="control-label"></label>
                        <div>
                            <input asp-for="street_address" class="form-control" />
                            <span asp-validation-for="street_address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="zip" class="control-label"></label>
                        <div>
                            <input asp-for="street_address" class="form-control" />
                            <span asp-validation-for="street_address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="phone_number" class="control-label"></label>
                        <div>
                            <input asp-for="phone_number" class="form-control" />
                            <span asp-validation-for="phone_number" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a asp-controller="Home" asp-action="Listings">Back to List</a>
                        <div>
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                      
                    </div>
                </form>
            </div>
        </div>

        <div>
            
        </div>
</body>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
