@model IEnumerable<Company>

<!DOCTYPE html>
<html>
<h1>Zipdetails</h1>

<body>
    <div>
        <h4>Company Details</h4>
        <table class=" table table-bordered table-sm table-striped">
            <thead>
                <tr>
                    <th>CompanyName</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <tr><td colspan="7" class="text-center">No Model Data</td></tr>
                }
                else
                {
                    @foreach (var z in Model)
                    {
                        <tr>
                            <td>@z.company</td>
                        </tr>

                    }
                }
            </tbody>
        </table>

        <div>
</body>
</html>
