@RenderSection("scripts", required: false)

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="header">
      
    </div>

    <div class="body-content">
        @RenderBody()
    </div>

    <div class="footer">
        
    </div>
</body>
</html>
