.branding {
    font-size: 17px;
}

.text-image1 {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
}

body {
    font-family: Verdana, sans-serif;
   
   
    padding-bottom: 20px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    height: 500px;
}

.list-menu {
    overflow: visible;
    height: 50%;
    background: black;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100vw;
    position: relative;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 600px) {
    .text {
        font-size: 20px
    }

    .list-menu ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    }

    ul li ul.dropdown {
        position: sticky !important;
        background: gray !important;
    }

    .container-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

ul {
    padding: 0;
    list-style: none;
    background: black;
}

    ul li {
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }

        ul li a {
            display: block;
            padding: 8px 25px;
            color: #f2f2f2;
            text-decoration: none;
        }

            ul li a:hover {
                color: #fff;
                background: teal;
            }

        ul li ul.dropdown {
            min-width: 100%; /* Set width of the dropdown */
            background: gray;
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
        }

        ul li:hover ul.dropdown {
            display: block; /* Display the dropdown */
            z-index: 10;
        }

        ul li ul.dropdown li {
            display: block;
            cursor: pointer;
        }

.brand-labling {
    color: white;
    
    
}

    .brand-labling img {
        background-color: white;
        height: 30px;
        width: 40px;
        margin-right: 20px;
        margin-left: 20px;
    }

.container-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.top-menu-wrapper {
    display: flex;
    justify-content: flex-end;
}
.form-wrapper{
    background-color:#ffffff;
}
.create-container {
    background-color: #ffffff;
    height: 100%;
}